---
import IconSectionItem from './IconSectionItem.astro';
---

<h2 class='h2'>Icons</h2>
<p class='h5 my-4'>Icon attribution in source on git</p>
<div class='flex flex-row flex-wrap justify-around gap-3'>
  <IconSectionItem icon='CaretDown' />
  <IconSectionItem icon='CaretLeft' />
  <IconSectionItem icon='CaretRight' />
  <IconSectionItem icon='CaretUp' />
  <IconSectionItem icon='CircleDown' />
  <IconSectionItem icon='CircleLeft' />
  <IconSectionItem icon='CircleRight' />
  <IconSectionItem icon='CircleUp' />
  <IconSectionItem icon='Dot' />
  <IconSectionItem icon='Download' />
  <IconSectionItem icon='Link' />
  <IconSectionItem icon='More' />
  <IconSectionItem icon='Plus' />
  <IconSectionItem icon='Quote' />
  <IconSectionItem icon='Send' />
  <IconSectionItem icon='Theme' />
</div>
