---
import IconSectionItem from './IconSectionItem.astro';
---

<div>Attribution in source files on git</div>
<div class='flex flex-row flex-wrap gap-2'>
  <IconSectionItem icon='CaretDown' />
  <IconSectionItem icon='CaretLeft' />
  <IconSectionItem icon='CaretRight' />
  <IconSectionItem icon='CaretUp' />
  <IconSectionItem icon='CircleDown' />
  <IconSectionItem icon='CircleLeft' />
  <IconSectionItem icon='CircleRight' />
  <IconSectionItem icon='CircleUp' />
  <IconSectionItem icon='Dot' />
  <IconSectionItem icon='Download' />
  <IconSectionItem icon='Link' />
  <IconSectionItem icon='More' />
  <IconSectionItem icon='Plus' />
  <IconSectionItem icon='Quote' />
  <IconSectionItem icon='Send' />
  <IconSectionItem icon='Theme' />
</div>
