---
import Chip from '@/components/Chip.astro';
import crownShowcase from './CrownCarouselBackground.webp';
// eslint-disable-next-line import-x/no-unresolved
import { Image } from 'astro:assets';
// import Button from '@/components/Button.astro';
---

<div class='absolute top-0 left-0 h-full w-full bg-[#FDA949]'></div>
<Image
  src={crownShowcase}
  alt='Two screenshots of the Kroger vaccination scheduling form from 2021.'
  class='absolute'
/>
<div class='z-10 flex w-full items-center justify-end'>
  <div
    class='mr-12 flex h-full w-80 flex-col items-center py-8 text-center xl:mr-16'
  >
    <div class='flex flex-1 flex-col justify-center'>
      <h3 class='-mt-12 mb-1 text-8xl font-bold text-grey-800 xl:-mt-6'>
        Crown
      </h3>
      <div class='flex flex-row gap-1'>
        <Chip color='text-grey-800 border-grey-800' density='compact' size='md'>
          TypeScript
        </Chip>
        <Chip color='text-red-700 border-red-700' density='compact' size='md'>
          Angular
        </Chip>
        <Chip
          color='text-slate-600 border-slate-600'
          density='compact'
          size='md'
        >
          RxJS
        </Chip>
        <Chip
          color='text-orange-800 border-orange-800'
          density='compact'
          size='md'
        >
          NgRx
        </Chip>
      </div>
      <p class='pt-2 text-xl font-semibold text-grey-700'>
        Frontend Optimization Expert
      </p>
      <p class='w-70 pt-2 text-base text-grey-950'>
        Forklift sales tool with realtime data visualization and hundreds of
        business rules / factory constraints.
      </p>
    </div>
    <div class='flex flex-1 flex-col justify-center'>
      <!-- <Button
        as='a'
        href='/projects/zerotier'
        size='lg'
        variant='primary'
        density='comfortable'
        color='grey-800'
        hoverColor='grey-700'
        class='-mt-6'
      >
        Dive Deeper
      </Button> -->
    </div>
  </div>
</div>
