---
import Chip from '@/components/Chip.astro';
// import krogerShowcase from './KrogerCarouselBackground.webp';
// eslint-disable-next-line import-x/no-unresolved
// import { Image } from 'astro:assets';
// import Button from '@/components/Button.astro';
---

<div class='absolute top-0 left-0 h-full w-full bg-orange-400'></div>
<!-- <Image
  src={krogerShowcase}
  alt='Two screenshots of the Kroger vaccination scheduling form from 2021.'
  class='absolute'
/> -->
<div class='z-10 flex w-full items-center justify-start'>
  <div
    class='ml-12 flex h-full w-80 flex-col items-center py-8 text-center xl:ml-16'
  >
    <div class='flex flex-1 flex-col justify-center'>
      <h3 class='-mt-12 mb-2 text-8xl font-bold text-white xl:-mt-6'>
        Crown Equipment
      </h3>
      <div class='flex flex-row gap-1'>
        <Chip
          color='text-purple-300 border-purple-300'
          density='compact'
          size='md'
        >
          TypeScript
        </Chip>
        <Chip color='text-sky-200 border-sky-200' density='compact' size='md'>
          Angular
        </Chip>
        <Chip color='text-teal-200 border-teal-200' density='compact' size='md'>
          RxJS
        </Chip>
        <Chip color='text-pink-300 border-pink-300' density='compact' size='md'>
          NxJS
        </Chip>
      </div>
      <p class='pt-2 text-xl font-semibold text-white'>Frontend Engineer</p>
      <p class='w-70 pt-2 text-base text-white'>
        Complex data entry flow with myriad side effects and realtime data vis.
      </p>
    </div>
    <div class='flex flex-1 flex-col justify-center'>
      <!-- <Button
        as='a'
        href='/projects/zerotier'
        size='lg'
        variant='primary'
        density='comfortable'
        color='kroger-button'
        hoverColor='kroger-dark'
        class='-mt-6'
      >
        Dive Deeper
      </Button> -->
    </div>
  </div>
</div>
