---
import Chip from '@/components/Chip.astro';
import crownShowcase from './CrownCarouselBackground.webp';
import InnerSlide from '@/components/carousel-slides/InnerSlide.astro';
// eslint-disable-next-line import-x/no-unresolved
import { Image } from 'astro:assets';
// import Button from '@/components/Button.astro';
---

<div class='absolute top-0 left-0 h-full w-full bg-[#FDA949]'></div>
<Image
  src={crownShowcase}
  alt='Two screenshots of the Kroger vaccination scheduling form from 2021.'
  class='absolute'
/>
<InnerSlide
  align='right'
  descriptionClass='text-grey-950'
  roleClass='text-grey-700'
  titleClass='text-grey-800'
>
  <Fragment slot='title'>Crown</Fragment>
  <Fragment slot='chips'>
    <Chip color='text-grey-800 border-grey-800' density='compact' size='md'>
      TypeScript
    </Chip>
    <Chip color='text-red-700 border-red-700' density='compact' size='md'>
      Angular
    </Chip>
    <Chip color='text-slate-600 border-slate-600' density='compact' size='md'>
      RxJS
    </Chip>
    <Chip color='text-orange-800 border-orange-800' density='compact' size='md'>
      NgRx
    </Chip>
  </Fragment>
  <Fragment slot='role'>Frontend Optimization Expert</Fragment>
  <Fragment slot='description'>
    Forklift sales tool with realtime data visualization and hundreds of
    business rules / factory constraints.
  </Fragment>
  <!-- <Fragment slot='button'>
    <Button
      as='a'
      href='/projects/zerotier'
      size='lg'
      variant='primary'
      density='comfortable'
      color='grey-800'
      hoverColor='grey-700'
      class='-mt-6'
    >
      Dive Deeper
    </Button>
  </Fragment> -->
</InnerSlide>
