@import './tailwind.css';

@layer theme {
  .themeRoot {
    @variant rose {
      --color-text: oklch(0.25 0.1379 347.29);
      --color-text-lighten-1: oklch(0.30 0.1379 347.29);
      --color-text-lighten-2: oklch(0.35 0.1379 347.29);
      --color-surface: var(--color-rose-100);
    }
    @variant dark {
      --color-text: var(--color-grey-50);
      --color-text-lighten-1: var(--color-grey-300);
      --color-text-lighten-2: var(--color-grey-400);
      --color-surface: var(--color-grey-800);
    }

    color: var(--color-text);
  }
}

@layer base {
  :root {
    font-size: var(--text-base);
    letter-spacing: var(--text-base--letter-spacing);
    font-weight: var(--text-base--font-weight);
    line-height: 1;
  }

  :focus-visible {
    @apply border-primary ring-secondary ring-2;
    outline: none;
  }

  ul {
    @apply list-disc pl-6;
  }

  p,li {
    @apply text-lg;
  }

  a {
    @apply underline;
  }

  li {
    @apply mt-1;
  }

  h1 {
    @apply text-8xl;
    @variant 6xl {
      @apply text-10xl;
    }
  }

  h2 {
    @apply text-primary mb-1 mt-4 text-6xl font-bold;
  }

  h3 {
    @apply text-4xl font-bold;
  }

  h4 {
    @apply text-5xl;
    @variant 6xl {
      @apply text-7xl;
    }
  }

  h5 {
    @apply text-4xl;
    @variant 6xl {
      @apply text-6xl;
    }
  }

  h6 {
    @apply text-3xl;
    @variant 6xl {
      @apply text-5xl;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1;
  }
}

@layer components {
  .btn {
    @apply rounded-lg px-6 py-3 text-center text-primary align-middle font-sans text-md uppercase no-underline border-2 border-primary font-bold;
    &:hover {
      cursor: pointer;
      @apply bg-primary;
    }
    &:active {
      @apply ring-primary ring-1;
    }
  }
  .surface {
    background-color: var(--color-surface);
  }
}
