@import './tailwind.css';

@layer base {
  :root {
    font-size: var(--text-base);
    letter-spacing: var(--text-base--letter-spacing);
    font-weight: var(--text-base--font-weight);
    line-height: 1;
  }

  :focus-visible {
    @apply ring-2 ring-focus;
    outline: none;
  }
  p,
  ul,
  li,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-lg;
  }

  ul {
    @apply list-disc pl-6;
  }

  li {
    @apply mt-1;
  }

  a {
    @apply underline;
  }

  .h1 {
    @apply text-8xl;
    @variant 6xl {
      @apply text-10xl;
    }
  }

  .h2 {
    @apply text-6xl font-bold;
  }

  .h3 {
    @apply text-4xl font-bold;
  }

  .h4 {
    @apply text-5xl;
    @variant 6xl {
      @apply text-7xl;
    }
  }

  .h5 {
    @apply text-4xl;
    @variant 6xl {
      @apply text-6xl;
    }
  }

  .h6 {
    @apply text-3xl;
    @variant 6xl {
      @apply text-5xl;
    }
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    line-height: 1;
  }
}

/* purely CSS components */
@layer components {
  @import './components/button.css';
  @import './components/card.css';
  @import './components/chip.css';
}
