@import 'tailwindcss';

/* Custom themes. Works without JS */
@custom-variant dark {
  &:where(:has(#auto-theme-radio:checked) *) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
  &:where(:has(#dark-theme-radio:checked) *) {
    @slot;
  }
}

@custom-variant rose {
  &:where(:has(#rose-theme-radio:checked) *) {
    @slot;
  }
}

@theme {
  --font-sans:
    'Arial', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* Font sizes */
  --text-xs: 0.6875rem; /* 11 */
  --text-xs--line-height: 120%;
  --text-xs--letter-spacing: 0.04rem;
  --text-xs--font-weight: 400;
  --text-sm: 0.75rem; /* 12 */
  --text-sm--line-height: 117.5%;
  --text-sm--letter-spacing: 0.035rem;
  --text-sm--font-weight: 400;
  --text-md: 0.875rem; /* 14 */
  --text-md--line-height: 117.5%;
  --text-md--letter-spacing: 0.02rem;
  --text-md--font-weight: 400;
  --text-base: 1rem; /* 16 */
  --text-base--line-height: 115%;
  --text-base--letter-spacing: 0.01rem;
  --text-base--font-weight: 400;
  --text-lg: 1.125rem; /* 18 */
  --text-lg--line-height: 130%;
  --text-lg--letter-spacing: 0.01rem;
  --text-lg--font-weight: 400;
  --text-xl: 1.25rem; /* 20 */
  --text-xl--line-height: 130%;
  --text-xl--letter-spacing: 0.01rem;
  --text-xl--font-weight: 400;
  --text-2xl: 1.375rem; /* 22 */
  --text-2xl--line-height: 115%;
  --text-2xl--letter-spacing: 0.01rem;
  --text-2xl--font-weight: 400;
  --text-3xl: 1.5rem; /* 24 */
  --text-3xl--line-height: 115%;
  --text-3xl--letter-spacing: 0.01rem;
  --text-3xl--font-weight: 400;
  --text-4xl: 1.75rem; /* 28 */
  --text-4xl--line-height: 115%;
  --text-4xl--letter-spacing: 0.01rem;
  --text-4xl--font-weight: 400;
  --text-5xl: 2rem; /* 32 */
  --text-5xl--line-height: 105%;
  --text-5xl--letter-spacing: 0.01rem;
  --text-5xl--font-weight: 400;
  --text-6xl: 2.5rem; /* 40 */
  --text-6xl--line-height: 105%;
  --text-6xl--letter-spacing: 0.01rem;
  --text-6xl--font-weight: 400;
  --text-7xl: 3rem; /* 48 */
  --text-7xl--line-height: 100%;
  --text-7xl--letter-spacing: 0.01rem;
  --text-7xl--font-weight: 400;
  --text-8xl: 3.5rem; /* 56 */
  --text-8xl--line-height: 100%;
  --text-8xl--letter-spacing: 0.01rem;
  --text-8xl--font-weight: 400;
  --text-9xl: 4.5rem; /* 72 */
  --text-9xl--line-height: 100%;
  --text-9xl--letter-spacing: 0.01rem;
  --text-9xl--font-weight: 400;
  --text-10xl: 5.5rem; /* 88 */
  --text-10xl--line-height: 100%;
  --text-10xl--letter-spacing: 0.01rem;
  --text-10xl--font-weight: 400;

  /* Colors */
  --color-white: oklch(0.995 0.001 106.423);
  --color-grey-50: oklch(0.985 0.001 106.423);
  --color-grey-100: oklch(0.97 0.001 106.424);
  --color-grey-200: oklch(0.923 0.003 48.717);
  --color-grey-300: oklch(0.869 0.005 56.366);
  --color-grey-400: oklch(0.709 0.01 56.259);
  --color-grey-500: oklch(0.553 0.013 58.071);
  --color-grey-600: oklch(0.444 0.011 73.639);
  --color-grey-700: oklch(0.374 0.01 67.558);
  --color-grey-800: oklch(0.268 0.007 34.298);
  --color-grey-900: oklch(0.216 0.006 56.043);
  --color-grey-950: oklch(0.147 0.004 49.25);
  --color-black: oklch(0 0 0);

  /* Custom theme colors */
  --color-primary: var(--color-red-500);
  --color-primary-lighten: oklch(from var(--color-red-500) calc(l + 0.05) calc(c - 0.01) h);
  --color-secondary: oklch(0.7351 0.1 236.3);
  --color-on-primary: var(--color-grey-50);
  --color-surface: var(--color-white);
  --color-text: var(--color-grey-950);
  --color-text-lighten-1: var(--color-grey-600);
  --color-text-lighten-2: var(--color-grey-500);

  /* breakpoints and container sizes */
  --container-3xs: 24rem; /* 384 - most phones above this */
  --container-2xs: 32rem;
  --container-xs: 40rem;
  --container-sm: 48rem; /* 768 - most tablets above this */
  --container-md: 56rem; 
  --container-lg: 64rem;
  --container-xl: 72rem; /* 1152 - most laptops above this*/
  --container-2xl: 80rem; 
  --container-3xl: 88rem;
  --container-4xl: 96rem;
  --container-5xl: 104rem;
  --container-6xl: 112rem; /* 1792 - most desktops above this */
  --container-7xl: 120rem;
  --container-8xl: 128rem; /* 2048, above this is definitely high resolution monitor */
}

@custom-variant sm {
  @media (min-width: 48rem) {
    @slot;
  }
}

@custom-variant xl {
  @media (min-width: 72rem) {
    @slot;
  }
}

@custom-variant 6xl {
  @media (min-width: 112rem) {
    @slot;
  }
}

@custom-variant 8xl {
  @media (min-width: 128rem) {
    @slot;
  }
}
