---
import { Image } from "astro:assets";
import profilePicture from "./danitheturtle.webp"
---
<div class="overflow-hidden flex flex-row items-center justify-center bg-white w-24 h-24 p-1.5 pb-2.5 rounded-full border-2 border-grey-800">
    <Image src={profilePicture} alt="A cute green cartoon turtle who has fallen asleep with little Z's drawn above its head">
</div>