---
// eslint-disable-next-line import-x/no-unresolved
import { Image } from 'astro:assets';
import profilePicture from './danitheturtle.webp';
---

<div
  class='flex h-16 w-16 flex-row items-center justify-center overflow-hidden rounded-full border-2 border-text-lighten-2 bg-white p-1.5 pb-2.5 lg:h-24 lg:w-24'
>
  <Image
    src={profilePicture}
    alt="A cute green cartoon turtle who has fallen asleep with little Z's drawn above its head"
  />
</div>
