---
import Button from '../Button.astro';
import SiteNav from '../SiteNav.astro';
import ThemeSelector from '../ThemeSelector.astro';
import '@/styles/main.css';
---

<!doctype html>
<html>
  <head>
    <meta name='color-scheme' content="dark light" />
    <slot name='head' />
  </head>
  <body class='themeRoot surface'>
    <div class='bg-primary text-on-primary h-12 w-full'>
      <div class='mx-auto max-w-6xl flex flex-row justify-between h-full'>
        <SiteNav />
        <ThemeSelector />
      </div>
    </div>
    <div class='mx-auto max-w-6xl'>
      <slot />
    </div>
  </body>
</html>
