---
import CarouselSlide from '@/components/CarouselSlide.astro';
import IntroSection from '@/components/sections/home/IntroSection.astro';
import MainLayout from '@/components/MainLayout.astro';
import ZeroTierSlide from './projects/zerotier/ZeroTierSlide.astro';
const slideCount = 3;
---

<MainLayout>
  <div class='flex flex-col items-start justify-start px-8 lg:px-0'>
    <IntroSection />
    <h2 id='showcase' class='mt-4 mb-1'>Key Projects</h2>
    <div class='mt-4 flex aspect-video w-full'>
      <carousel>
        <CarouselSlide
          carouselId='sc'
          index={0}
          slideCount={slideCount}
          class='overflow-hidden'
        >
          <ZeroTierSlide />
        </CarouselSlide>
        <CarouselSlide carouselId='sc' index={1} slideCount={slideCount}>
          Slide 2
        </CarouselSlide>
        <CarouselSlide carouselId='sc' index={2} slideCount={slideCount}>
          Slide 3
        </CarouselSlide>
      </carousel>
    </div>
  </div>
</MainLayout>
