---
import IntroSection from '@/components/sections/home/IntroSection.astro';
import MainLayout from '@/components/MainLayout.astro';
import ShowcaseSection from '@/components/sections/home/ShowcaseSection.astro';
import CurrentRolesSection from '@/components/sections/home/CurrentRolesSection.astro';
import RecommendationsSection from '@/components/sections/home/RecommendationsSection.astro';
import ContactSection from '@/components/sections/home/ContactSection.astro';
import PrinciplesSection from '@/components/sections/home/PrinciplesSection.astro';
---

<MainLayout>
  <div class='flex flex-row flex-wrap items-start justify-start px-8 lg:px-0'>
    <IntroSection />
    <CurrentRolesSection />
    <ShowcaseSection />
    <RecommendationsSection />
    <PrinciplesSection />
    <ContactSection />
  </div>
</MainLayout>
