---
import IntroSection from '@/components/sections/home/IntroSection.astro';
import MainLayout from '@/components/MainLayout.astro';
import ShowcaseSection from '@/components/sections/home/ShowcaseSection.astro';
import CurrentRolesSection from '@/components/sections/home/CurrentRolesSection.astro';
---

<MainLayout>
  <div class='flex flex-row flex-wrap items-start justify-start px-8 xl:px-0'>
    <IntroSection />
    <CurrentRolesSection />
    <ShowcaseSection />
    <h2 id='recommendations' class='h2 order-6 mt-12 mb-1 w-full'>
      Highly Recommended
    </h2>
  </div>
</MainLayout>
