---
import Button from '@/components/Button.astro';
import Chip from '@/components/Chip.astro';
import Divider from '@/components/Divider.astro';
import IntroSection from '@/components/homepage/IntroSection.astro';
import MainLayout from '@/components/MainLayout.astro';
---

<MainLayout>
  <div class="flex flex-col justify-start items-start">
    <IntroSection />
    <Chip size="lg" density="comfortable" color="border-white text-white" class="mt-8">
        Projects
    </Chip>
  </div>
</MainLayout>
