---
export interface Props {
    variant?: 'primary' | 'secondary' | 'text'
    size?: 'sm' | 'md' | 'lg'
    density?: 'compact' | 'normal' | 'comfortable'
}
const {
    variant = "secondary",
    size = "md",
    density = "normal"
} = Astro.props

---

<button class='btn'><slot /></button>
