---
export interface Props {
  class?: string;
  [k: string]: any;
}
const { class: className, ...rest } = Astro.props as Props;
---

<div
  class:list={[
    'divider my-4 box-content h-px w-full border-t-2 border-grey-200 dark:border-grey-700 rose:border-rose-200',
    className,
  ]}
  {...rest}
>
</div>
