---
import Button from './Button.astro';
import SiteNav from './SiteNav.astro';
import ThemeSelector from './ThemeSelector.astro';
import '@/styles/main.css';
---

<!doctype html>
<html>
  <head>
    <meta name='color-scheme' content='dark light' />
    <slot name='head' />
  </head>
  <body class='themeRoot surface'>
    <div class='sticky top-0 h-12 w-full bg-primary text-on-primary'>
      <div class='mx-auto flex h-full max-w-lg flex-row justify-between'>
        <SiteNav />
        <ThemeSelector />
      </div>
    </div>
    <div class='mx-auto max-w-lg'>
      <slot />
    </div>
  </body>
</html>
