---
import SiteNav from './SiteNav.astro';
import SiteFooter from './SiteFooter.astro';
import ThemeSelector from './ThemeSelector.astro';
import '@/styles/main.css';
---

<!doctype html>
<html>
  <head>
    <meta name='color-scheme' content='dark light' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <slot name='head' />
  </head>
  <body class='themeRoot bg-surface text-on-surface'>
    <SiteNav />
    <div class='mx-auto max-w-lg'>
      <slot />
      <SiteFooter />
    </div>
  </body>
</html>
