---
import SiteNav from './SiteNav.astro';
import SiteFooter from './SiteFooter.astro';
import '@/styles/main.css';
export interface Props {
  class?: string;
  [k: string]: any;
}
const { class: className, ...rest } = Astro.props as Props;
---

<!doctype html>
<html>
  <head>
    <meta name='color-scheme' content='dark light' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <slot name='head' />
  </head>
  <body
    class='themeRoot h-full w-full overflow-x-hidden overflow-y-auto bg-surface text-on-surface'
  >
    <SiteNav />
    <div class:list={['mx-auto w-full lg:max-w-lg', className]} {...rest}>
      <slot />
      <SiteFooter />
    </div>
  </body>
</html>
