---
import Button from './Button.astro';
import ThemeSelector from './ThemeSelector.astro';
---

<header class='sticky top-0 z-50 h-12 w-full bg-primary text-on-primary'>
  <div class='mx-auto flex h-full max-w-lg flex-row justify-between'>
    <nav class='no-wrap mx-2 my-0 h-full lg:-mx-6'>
      <Button as='a' href='/' variant='primary'>Home</Button>
      <!-- <Button as='a' href='/projects' variant='primary'>Projects</Button> -->
      <Button as='a' href='/resume' variant='primary'>Resume</Button>
    </nav>
    <ThemeSelector />
  </div>
</header>
