---
import Button from './Button.astro';
---

<nav class='no-wrap my-0 mx-2 lg:-mx-6 h-full'>
  <Button as='a' href='/' variant='primary'>Home</Button>
  <Button as='a' href='/projects' variant='primary'>Projects</Button>
  <Button as='a' href='/resume' variant='primary'>Resume</Button>
  <Button as='a' href='/design' variant='primary'>Design</Button>
</nav>
