---
import Divider from './Divider.astro';

const currentYear = new Date(Date.now()).getFullYear();
---

<footer class='mx-4 mb-24 text-center text-text-lighten-2 md:mx-8 lg:mx-0'>
  <Divider />
  <p class='mb-2'>
    Made by <span class='font-bold'>danitheturtle</span> using her human brain
  </p>
  <p class='italic'>
    No Copyright {currentYear}; Do what you want
  </p>
</footer>
