---
import Button from '@/components/Button.astro';
const buttonClasses =
  'rounded-none w-24 lg:w-32 ' +
  'has-checked:border-primary-lighten has-checked:bg-primary-lighten has-checked:ring-primary-lighten ' +
  'has-focus-visible:z-30 has-focus-visible:ring-2 has-focus-visible:ring-focus';
---

<theme-selector
  aria-label='Choose your site theme'
  role='radiogroup'
  class:list={[
    'h-full md:mr-4 lg:-mr-8',
    '[&:has(*:popover-open)>#theme-dropdown-button]:bg-primary-lighten',
    '[&:has(#auto-theme-radio:checked)>#theme-dropdown-button>.theme-auto]:inline',
    '[&:has(#light-theme-radio:checked)>#theme-dropdown-button>.theme-light]:inline',
    '[&:has(#dark-theme-radio:checked)>#theme-dropdown-button>.theme-dark]:inline',
    '[&:has(#rose-theme-radio:checked)>#theme-dropdown-button>.theme-rose]:inline',
  ]}
>
  <Button
    id='theme-dropdown-button'
    popovertarget='theme-dropdown'
    variant='primary'
    class='w-24 lg:w-32'
    startIcon='Theme'
    startIconSize='1.5rem'
  >
    <span class='theme-auto hidden'>Auto</span>
    <span class='theme-light hidden'>Light</span>
    <span class='theme-dark hidden'>Dark</span>
    <span class='theme-rose hidden'>Rose</span>
  </Button>
  <dropdown
    popover
    id='theme-dropdown'
    anchor='theme-dropdown-button'
    class='overflow-visible bg-primary [position-area:bottom]'
  >
    <div class='flex flex-col'>
      <Button
        as='label'
        for='auto-theme-radio'
        variant='primary'
        class={buttonClasses}
      >
        <input
          type='radio'
          name='theme-picker'
          id='auto-theme-radio'
          class='sr-only'
          checked
        />
        Auto
      </Button>
      <Button
        as='label'
        for='light-theme-radio'
        variant='primary'
        class={buttonClasses}
      >
        <input
          type='radio'
          name='theme-picker'
          id='light-theme-radio'
          class='sr-only'
        />
        Light
      </Button>
      <Button
        as='label'
        for='dark-theme-radio'
        variant='primary'
        class={buttonClasses}
      >
        <input
          type='radio'
          name='theme-picker'
          id='dark-theme-radio'
          class='sr-only'
        />
        Dark
      </Button>
      <Button
        as='label'
        for='rose-theme-radio'
        variant='primary'
        class={buttonClasses}
      >
        <input
          type='radio'
          name='theme-picker'
          id='rose-theme-radio'
          class='sr-only'
        />
        Rose
      </Button>
    </div>
  </dropdown>
</theme-selector>
