@layer components {
  carousel {
    & slide {
      transition: opacity 0.5s;
      opacity: 0;
      & controls {
        top: -50%;
      }
    }
    & > label {
      transition: background-color 0.25s;
      opacity: 0.4;
      & input {
        position: absolute;
        /* sets invisible but still focusable */
        clip-path: circle(0);
      }
      &:hover {
        opacity: 0.6;
      }
      &:active {
        background-color: var(--color-surface);
      }
      &:has(input:checked) {
        opacity: 0.8;
        background-color: var(--color-surface);
        box-shadow: 0 0 0 calc(var(--spacing) * 0.25) var(--color-surface);
      }
      &:has(input:focus-visible) {
        outline: calc(var(--spacing) * 0.5) solid var(--color-secondary);
      }
    }
    & > label:has(input:checked) + slide {
      opacity: 1;
    }
  }
}
