---
import Chip from '@/components/Chip.astro';
import krogerShowcase from './KrogerCarouselBackground.webp';
// eslint-disable-next-line import-x/no-unresolved
import { Image } from 'astro:assets';
// import Button from '@/components/Button.astro';
---

<style is:global>
  #kroger-slide {
    --color-kroger-brand: #2270bf;
    --color-kroger-dark: #074085;
    --color-kroger-light: #70bcf9;
    --color-kroger-button: #084999;
  }
</style>

<div class='absolute top-0 left-0 h-full w-full bg-(--color-kroger-brand)'>
</div>
<div
  class='absolute top-4 left-94 h-136 w-136 rounded-full border-12 border-(--color-kroger-light) p-4'
>
  <div class='h-full w-full rounded-full bg-(--color-kroger-dark)'></div>
</div>
<Image
  src={krogerShowcase}
  alt='Two screenshots of the Kroger vaccination scheduling form from 2021.'
  class='absolute'
/>
<div class='z-10 flex w-full items-center justify-start'>
  <div
    class='ml-12 flex h-full w-80 flex-col items-center py-8 text-center xl:ml-16'
  >
    <div class='flex flex-1 flex-col justify-center'>
      <h3 class='-mt-12 mb-2 text-8xl font-bold text-white xl:-mt-6'>Kroger</h3>
      <div class='flex flex-row gap-1'>
        <Chip
          color='text-purple-300 border-purple-300'
          density='compact'
          size='md'>TypeScript</Chip
        >
        <Chip color='text-sky-200 border-sky-200' density='compact' size='md'
          >React</Chip
        >
        <Chip color='text-teal-200 border-teal-200' density='compact' size='md'
          >Redux</Chip
        >
        <Chip color='text-pink-300 border-pink-300' density='compact' size='md'
          >Kotlin</Chip
        >
      </div>
      <p class='pt-2 text-xl font-semibold text-white'>Full-Stack Engineer</p>
      <p class='w-70 pt-2 text-base text-white'>
        COVID-19 rolling vaccine eligibility with city-specific logic, zero
        downtime and $1.5 mil/mo in saved SaaS fees.
      </p>
    </div>
    <div class='flex flex-1 flex-col justify-center'>
      <!-- <Button
        as='a'
        href='/projects/zerotier'
        size='lg'
        variant='primary'
        density='comfortable'
        color='kroger-button'
        hoverColor='kroger-dark'
        class='-mt-6'
      >
        Dive Deeper
      </Button> -->
    </div>
  </div>
</div>
