---
import Chip from '@/components/Chip.astro';
import krogerShowcase from './KrogerCarouselBackground.webp';
// eslint-disable-next-line import-x/no-unresolved
import { Image } from 'astro:assets';
import InnerSlide from '@/components/carousel-slides/InnerSlide.astro';
// import Button from '@/components/Button.astro';
---

<style is:global>
  #kroger-slide {
    --color-kroger-brand: #2270bf;
    --color-kroger-dark: #074085;
    --color-kroger-light: #70bcf9;
    --color-kroger-button: #084999;
  }
</style>

<div class='absolute top-0 left-0 h-full w-full bg-(--color-kroger-brand)'>
</div>
<div
  class='absolute top-4 left-94 h-136 w-136 rounded-full border-12 border-(--color-kroger-light) p-4'
>
  <div class='h-full w-full rounded-full bg-(--color-kroger-dark)'></div>
</div>
<Image
  src={krogerShowcase}
  alt='Two screenshots of the Kroger vaccination scheduling form from 2021.'
  class='absolute'
/>
<InnerSlide textClass='text-white' titleClass='text-white mb-2'>
  <Fragment slot='title'>Kroger</Fragment>
  <Fragment slot='chips'>
    <Chip color='text-purple-300 border-purple-300' density='compact' size='md'>
      TypeScript
    </Chip>
    <Chip color='text-sky-200 border-sky-200' density='compact' size='md'>
      React
    </Chip>
    <Chip color='text-teal-200 border-teal-200' density='compact' size='md'>
      Redux
    </Chip>
    <Chip color='text-yellow-300 border-yellow-300' density='compact' size='md'>
      Kotlin
    </Chip>
  </Fragment>
  <Fragment slot='role'>Essential Healthcare Engineer</Fragment>
  <Fragment slot='description'>
    COVID-19 rolling vaccine eligibility with city-specific logic, zero downtime
    and $1.5 mil/mo in saved SaaS fees.
  </Fragment>
</InnerSlide>
