---
import Button from '@/components/Button.astro';
import Divider from '@/components/Divider.astro';
import Icon, { IconName } from '@/components/icon/Icon.astro';

type SocialLink = {
  name: string;
  icon: IconName;
  link: string;
};
const socialLinks: SocialLink[] = [
  {
    name: 'GitHub',
    icon: 'GitHub',
    link: 'https://github.com/danitheturtle',
  },
  {
    name: 'LinkedIn',
    icon: 'LinkedIn',
    link: 'https://www.linkedin.com/in/danidevelops/',
  },
  {
    name: 'Itch.io',
    icon: 'ItchIO',
    link: 'https://danitheturtle.itch.io/',
  },
  {
    name: 'Email',
    icon: 'Mail',
    link: 'mailto:dani.develops@pm.me',
  },
];
---

<section
  id='contact'
  class='order-7 mt-8 flex w-full flex-wrap overflow-hidden lg:mt-24'
>
  <h2 class='h2 w-full'>Keep in Touch</h2>
  <div class='w-full'>
    <Divider
      class='mt-3 mb-3 w-48 border-primary lg:my-6 dark:border-primary rose:border-primary'
    />
  </div>
  <div class='flex w-full flex-col lg:w-xs'>
    <p class='text-base font-bold md:text-xl lg:text-2xl'>
      <span>
        Whether you want to hire me, ask about my projects, or simply pick my
        brain &mdash; please don't hesitate to reach out!
      </span>
      <span class='text-text-lighten-2'>
        Hearing that you found my site and want to talk about my work is
        garunteed to brighten my day; thanks for visiting.
      </span>
    </p>
    <div
      class='mt-4 flex flex-row justify-center md:justify-start md:gap-2 lg:mt-8 lg:mb-4 [&>a]:px-0 md:[&>a]:px-4 lg:[&>a]:px-6'
    >
      {
        socialLinks.map((nextSocial) => (
          <Button
            as='a'
            href={nextSocial.link}
            target='_blank'
            variant='text'
            color='primary'
            class='btn-sm md:btn-lg w-1/4 text-sm md:w-[unset] md:text-lg'
          >
            <Icon
              icon={nextSocial.icon}
              class='start-icon hidden lg:inline'
              size='1.5rem'
            />
            <Icon
              icon={nextSocial.icon}
              class='start-icon inline lg:hidden'
              size='1rem'
            />
            {nextSocial.name}
          </Button>
        ))
      }
    </div>
  </div>
</section>
