---
import Button from '@/components/Button.astro';
import Icon from '@/components/icon/Icon.astro';

const buttonClasses =
  'h-[inherit] justify-between w-full flex-1 p-4 normal-case lg:py-0';
---

<div
  class:list={[
    'relative order-5 flex w-full flex-1 flex-wrap gap-4',
    'lg:order-2 lg:mt-12 lg:ml-16 lg:w-[unset] lg:flex-col lg:self-stretch lg:py-8',
  ]}
>
  <h2
    class='h2 mt-12 w-full font-bold lg:absolute lg:-top-1 lg:mt-0 lg:text-right lg:text-2xl'
  >
    Current Roles
  </h2>
  <Button
    as='a'
    href='mailto:dani.develops@pm.me'
    target='_blank'
    class={buttonClasses}
    variant='primary'
    color='grey-700'
  >
    <div class='flex flex-col items-start gap-0 text-left'>
      <p class='text-lg font-bold'>Software Engineering</p>
      <p class='text-md text-green-400'>Available to Work</p>
      <p class='mt-1 text-md'>Actively applying to open positions</p>
    </div>
    <Icon icon='Dot' size='2rem' class='mr-2 text-green-400' />
  </Button>
  <Button
    as='a'
    href='https://github.com/danitheturtle/godly-pets-delivery-service'
    target='_blank'
    class={buttonClasses}
    class:list={[buttonClasses, '[&:hover>svg]:mr-0']}
    variant='primary'
    color='grey-700'
  >
    <div class='flex flex-col items-start gap-0 text-left'>
      <p class='text-lg font-bold'>Game Design</p>
      <p class='text-md text-text-lighten-2'>Currently Committed</p>
      <p class='mt-1 text-md'>Godly Pets Delivery Service</p>
    </div>
    <Icon icon='CircleRight' size='2rem' class='mr-2 transition-all' />
  </Button>
</div>
