---
import Button from '@/components/Button.astro';
import ProfilePicture from '@/components/profile-picture/ProfilePicture.astro';
---

<section
  id='intro'
  class='order-1 my-4 flex w-full flex-2 flex-col items-start lg:my-8'
>
  <div class='flex w-full flex-row items-center justify-between'>
    <div class='flex flex-col items-start self-end'>
      <h1 class='h1 mb-1 font-bold text-primary'>danitheturtle</h1>
      <p>Software Engineer // Game Designer</p>
    </div>
    <ProfilePicture />
  </div>
  <p class='py-6 text-base font-bold md:text-xl lg:text-2xl'>
    <span>
      Full-stack engineer based in Ottawa, passionate about simplifying
      complexity.
    </span>
    <span class='text-text-lighten-2'>
      Focused on scalable architecture, user-centric design, code quality and
      cross-functional collaboration.
    </span>
  </p>
  <div class='flex flex-row gap-4'>
    <Button as='a' href='mailto:dani.develops@pm.me' startIcon='Send'>
      Let's Connect
    </Button>
    <Button
      variant='primary'
      as='a'
      href='assets/Dani_Resume.pdf'
      startIcon='Download'
    >
      My Resume
    </Button>
  </div>
</section>
