---
import Divider from '@/components/Divider.astro';

const principles = [
  {
    title: "Don't Re-invent",
    description:
      'Someone has already done it better, faster and cleaner. Sharing knowledge is a human superpower; use it.',
  },
  {
    title: 'Invert Control',
    description:
      'Devs are users, so code needs excellent UX. Future-proof code with dependency injection, robust configuration and modularity.',
  },
  {
    title: 'Focus on the User',
    description:
      'No design survives user testing. Talk to users early and talk to them often.',
  },
  {
    title: 'Testing is Foundational',
    description:
      'Test Driven Development combined with User Testing is the only way to assure sustainable project growth.',
  },
  {
    title: 'UX from Accessibility',
    description:
      'Good, clean UX flows directly from good accessibility. Following a11y best practices often spotlights UI/UX issues.',
  },
  {
    title: 'Expect Change',
    description:
      'Be it stakeholder requests, user feedback or architecture shifts: anticipate change and operate with systemic flexibility.',
  },
];
---

<section id='principles' class='order-6 mt-8 w-full lg:mt-16'>
  <h2 class='h2'>My Principles</h2>
  <div class='w-full'>
    <Divider
      class='mt-3 mb-3 w-48 border-primary lg:my-6 dark:border-primary rose:border-primary'
    />
  </div>
  <p class='mb-4 text-base font-bold md:text-xl lg:mb-8 lg:w-xs lg:text-2xl'>
    Derived from years of on-the-job experience,
    <span class='text-text-lighten-2'>
      combined with my hyper-effective fusion of design and engineering
      expertise.
    </span>
  </p>
  <div class='flex w-full flex-row flex-wrap gap-4 md:gap-8 lg:gap-12'>
    {
      principles.map((nextPrinciple) => (
        <div
          class:list={[
            '-m-4 min-w-4xs flex-1 self-start rounded-xl p-4 transition-all',
            'hover:bg-card hover:[&_.divider]:border-primary',
          ]}
        >
          <div class='max-w-max'>
            <p class='principleTitle text-lg leading-none font-bold text-primary md:text-xl lg:text-3xl'>
              {nextPrinciple.title}
            </p>
            <Divider class='mt-2 mb-2 transition-all lg:mt-3 lg:mb-3' />
          </div>
          <p class='text-md md:text-lg lg:text-xl'>
            {nextPrinciple.description}
          </p>
        </div>
      ))
    }
  </div>
</section>
