---
import zeroTierShowcase from './zerotier-showcase.webp';
---

<img
  src={zeroTierShowcase.src}
  width={zeroTierShowcase.width}
  height={zeroTierShowcase.height}
  decoding='async'
  alt='ZeroTier video showcase'
  class='absolute'
/>
<div class='flex items-center justify-center'>
  <div class='text-on-surface backdrop-blur-xs dark:text-surface'>
    <h3 class='p-6'>ZeroTier</h3>
  </div>
</div>
